.avatar{
  width: 12%;
  border-radius: 10%;
}
p{
    font-size: 125%;
    font-weight: bold;
    margin-bottom: -15px;
    margin-left: 3%;
}

li{
    line-height: 200%;
    margin-left: 3%;
    font-size: 100%;
    font-weight: normal;

}

body{
    background-image: url("../img/background.png");
    margin-left: 3%;
    margin-top: 3%
}

h1{
    padding-left: 2.25%;
}

hr{
    margin-right: 3%;
}

.parts{
    margin-left: -4%;
}
